@import url(http://fonts.cdnfonts.com/css/papyrus);
:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 2.2rem;
  font-family: "Papyrus", sans-serif;
  color: #b88414;
  letter-spacing: 3px;
  background-image: linear-gradient(to bottom right, #111111, #051024);
}

body {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media screen and (orientation: landscape) {
  body {
    height: 100vh;
    width: 100vw;
  }
}
.grid__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  padding: 2rem;
}
.grid__row--toolbar {
  flex: 1 1 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.grid__row--board {
  flex: 0 0 auto;
  padding: 3rem;
  background-image: url("../img/wood-8bit.png");
  background-size: 100% 100%;
  background-position: center center;
}

.console__outer,
.controls {
  background-color: rgba(240, 240, 240, 0.2);
  flex-grow: 0;
  flex-shrink: 0;
}

.console__outer {
  flex-basis: 60%;
  position: relative;
}
.console__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 3rem;
}
.console__msg:first-child {
  margin-bottom: 1rem;
  font-weight: bold;
}

.controls {
  flex-basis: 30%;
  padding: 3rem;
}

.stick__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  border: 5px ridge gold;
  border-radius: 20%;
  padding: 2rem;
}
.stick__single {
  height: 100%;
  flex: 0 0 calc(100% / 6);
  position: relative;
  perspective: 50rem;
  -moz-perspective: 50rem;
}
.stick__single__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: auto 100%;
  background-position: center;
}
.stick__single__side--black {
  background-image: url("../img/stick-black-side.jpg");
  transform: rotateY(-180deg);
}
.stick__single__side--white {
  background-image: url("../img/stick-white-side.jpg");
  transform: rotateY(0);
}
.stick__single::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: gold;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150%;
  z-index: -5;
}

@-webkit-keyframes flip-sticks-black {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes flip-sticks-black {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes flip-sticks-white {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes flip-sticks-white {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.board {
  background-image: url("../img/board-shadow.png"), url("../img/board-bg-1.jpg");
  background-size: 100% 100%, 100% 100%;
  outline: 2px inset rgba(17, 17, 17, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.cell {
  position: relative;
  flex: 0 0 10%;
  outline: 1px inset rgba(17, 17, 17, 0.5);
  background-size: 100% 100%;
}
.cell::before {
  content: "";
  padding-top: 100%;
  float: left;
}
.cell--black {
  background-color: rgba(17, 17, 17, 0.2);
}
.cell--14::after {
  content: "15";
  color: orange;
  position: absolute;
  left: 0;
}
.cell--25::after {
  content: "checkpoint";
  color: blue;
  position: absolute;
  left: 0;
}
.cell--26::after {
  content: "water";
  color: red;
  position: absolute;
  left: 0;
}
.cell--27::after {
  content: "-3";
  color: green;
  position: absolute;
  left: 0;
}
.cell--28::after {
  content: "-2";
  color: green;
  position: absolute;
  left: 0;
}
.cell--29::after {
  content: "-1";
  color: green;
  position: absolute;
  left: 0;
}

.pawn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.25);
  opacity: 1;
}
.pawn--black {
  width: 40%;
  height: 40%;
  background-image: url("../img/shadow.png"), url("../img/pawn-dark-bg.jpg");
  background-size: 100%;
  border-radius: 10%;
}
.pawn--white {
  width: 50%;
  height: 50%;
  background-image: radial-gradient(rgba(17, 17, 17, 0) 50%, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.5) 80%), url("../img/pawn-light-bg.jpg");
  background-size: 100%;
  border-radius: 50%;
}
.pawn--moveable {
  -webkit-animation-name: pulsePawn;
          animation-name: pulsePawn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes pulsePawn {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes pulsePawn {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.95);
  }
}
