@import url(http://fonts.cdnfonts.com/css/papyrus);
:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 2.2rem;
  font-family: "Papyrus", sans-serif;
  color: #b88414;
  letter-spacing: 3px;
  background-image: linear-gradient(to bottom right, #111111, #051024);
}

body {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media screen and (orientation: landscape) {
  body {
    height: 100vh;
    width: 100vw;
  }
}
.grid__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  padding: 2rem;
}
.grid__row--toolbar {
  flex: 1 1 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.grid__row--board {
  flex: 0 0 auto;
}

.console,
.controls {
  background-color: rgba(240, 240, 240, 0.2);
  flex-grow: 0;
  flex-shrink: 0;
}

.console {
  flex-basis: 60%;
}

.controls {
  flex-basis: 30%;
}

.board {
  background-image: url("../img/board-bg-1.jpg");
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  position: relative;
  flex: 0 0 10%;
  outline: 1px inset rgba(17, 17, 17, 0.5);
}
.cell::before {
  content: "";
  padding-top: 100%;
  float: left;
}
.cell--black {
  background-color: rgba(66, 66, 66, 0.2);
}
.cell--white {
  background-color: rgba(192, 192, 192, 0.2);
}
.cell--14::after {
  content: "15";
  color: orange;
  position: absolute;
  left: 0;
}
.cell--25::after {
  content: "checkpoint";
  color: blue;
  position: absolute;
  left: 0;
}
.cell--26::after {
  content: "water";
  color: red;
  position: absolute;
  left: 0;
}
.cell--27::after {
  content: "-3";
  color: green;
  position: absolute;
  left: 0;
}
.cell--28::after {
  content: "-2";
  color: green;
  position: absolute;
  left: 0;
}
.cell--29::after {
  content: "-1";
  color: green;
  position: absolute;
  left: 0;
}

.pawn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(1);
  width: 40%;
  height: 40%;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.25);
  border-radius: 50%;
  opacity: 1;
}
.pawn--black {
  background-color: black;
}
.pawn--white {
  background-color: white;
}
.pawn--moveable {
  -webkit-animation-name: pulsePawn;
          animation-name: pulsePawn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes pulsePawn {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes pulsePawn {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.95);
  }
}
