:root {
    font-size: 62.5%;

    @include resp(tablet) {
        font-size: 50%;
    }

    @include resp(phone) {
        font-size: 40%;
    }
}

* ,
*::after ,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    
    font-size: $font-size-default;
    font-family: $font-family-primary;
    color: $color-text;
    letter-spacing: 3px;
}