
.board {

    &__wrapper {
        
        padding: 3%;
        background-image: url('../img/wood-8bit.png');
        background-size: 100% 100%;
        background-position: center center;
    }
    
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    
    margin: auto;
    
    overflow: hidden;
    
    border-radius: 5px;

    background-image: 
        url('../img/board-shadow.png'),
        url('../img/board-bg-1.jpg');

    background-size: 100% 100% , 100% 100%;

    outline: 2px inset rgba($black, .5);    // simula bordo
}

.cell {
    
    position: relative;
    
    flex: 0 0 10%;

    outline: 1px inset rgba($black, .5);    // simula bordo

    background-size: 100% 100%;



    &::before {     // fissa porzioni cella su 1:1
        content: '';
        padding-top: 100%;
        float: left;
    }

    &--black {
        background-color: rgba($black , .2);
    }

    // predisposizione immagini di sfondo per alcune celle

    &::after {  
        content: ''; 
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%;        
        background-size: 80% auto;
        background-repeat: no-repeat;
        background-position: center center;
    }

    //  Assegnazione immagini di sfondo ad alcune celle

    &--14::after{ background-image: url('../img/bg-cell-14.png'); }
    &--25::after{ background-image: url('../img/bg-cell-25.png'); }
    &--26::after{ background-image: url('../img/bg-cell-26.png'); }
    &--27::after{ background-image: url('../img/bg-cell-27.png'); }
    &--28::after{ background-image: url('../img/bg-cell-28.png'); }
    &--29::after{ background-image: url('../img/bg-cell-29.png'); }
}