//  Text

$font-size-default : 2rem;

$font-family-primary: 'Special Elite', cursive;

$letter-spacing-default : 1px;

$line-height-default : 1.35em;


//  Colors

$color-primary : rgb(5, 16, 36);

$color-text : rgb(255, 145, 0);

$white: rgb(240, 240, 240);
$black: rgb(17, 17, 17);


$gray: gray;
$lightgray : rgb(211, 211, 211);

//  Spacings

$spacing-tiny       : .5rem;
$spacing-small      :  1rem;
$spacing-standard   :  2rem; 
$spacing-big        :  3rem;
$spacing-huge       :  5rem;


//  Times

$transition-duration-short : .5s;
$transition-duration-medium  :  1s;

// Misc

$border-radius-standard : .5rem;


// Media Queries

@mixin resp($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 31.25em) , screen and (max-height: 31.25em) {    // 500px
            @content
        };
    }

    @if $breakpoint == tablet {
        @media only screen and (max-width: 64em) {    // 1024px
            @content
        };
    }
}